@import "tailwindcss";

@theme {
  --color-red: #e5322d;
  --color-dark: #111111;
  --color-text: #f0f0f0;
  --color-muted: #9ca3af;
}

:root {
  --background: #111111;
  --foreground: #f0f0f0;
}

body {
  background: var(--background);
  color: var(--foreground);
}
